<div style="text-align:center">
  <h1>To-Do List</h1>

  <input [(ngModel)]="newTodoTitle" placeholder="Add new task" />
  <button (click)="addTodo()" class="add-button">Add</button> <!-- Green button -->

  <ul>
    <li *ngFor="let todo of todos">
      <span *ngIf="editingTodoId !== todo.id">{{ todo.title }}</span>
      <input *ngIf="editingTodoId === todo.id" [(ngModel)]="editTodoTitle" />
      <button *ngIf="editingTodoId !== todo.id" (click)="editTodo(todo)" class="edit-button">Edit</button> <!-- Blue button -->
      <button *ngIf="editingTodoId === todo.id" (click)="updateTodo()" class="edit-button">Update</button> <!-- Blue button -->
      <button (click)="deleteTodo(todo)" class="delete-button">Delete</button> <!-- Red button -->
      <button *ngIf="editingTodoId === todo.id" (click)="cancelEdit()" class="cancel-button">Cancel</button> <!-- Yellow button -->
    </li>
  </ul>

  <footer style="margin-top: 20px;">
    <p>Built using Angular and NodeJS by Kishanraj PG</p>
    <p>Hosted in AWS EC2 using Docker</p>
    <p>Email: <a href="mailto:kish9723&#64;gmail.com">kish9723&#64;gmail.com</a></p>
    <p>Phone: +91 9964693517</p>
  </footer>
</div>
